body {
    font-family: Arial;
    padding: 20px;
    background-color: #74b1e9;
}

#contenedor-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}